@page "/Books/Edit/{id?}"
@model EditBookModel
@{
    ViewData["Title"] = "Редагувати книгу";
}

<div style="margin: 30px;">
    <h1>Редагування книги</h1>
    <form method="post">
        <input type="hidden" asp-for="@Model.InputBook.Id" />

        <div class="form-group">
            <label asp-for="@Model.InputBook.Name"></label>
            <input asp-for="@Model.InputBook.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.InputBook.Year"></label>
            <input type="text" asp-for="@Model.InputBook.Year" class="form-control" />
            <span asp-validation-for="@Model.InputBook.Year" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.InputBook.Description"></label>
            <textarea rows="20" cols="130" asp-for="@Model.InputBook.Description" class="form-control" maxlength="300"
                placeholder="Текст, максимум 300 символів (враховуючи розмітку)"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="@Model.InputBook.TimesRated"></label>
            <input type="text" asp-for="@Model.InputBook.TimesRated" class="form-control" />
            <span asp-validation-for="@Model.InputBook.TimesRated" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.InputBook.AverageRating"></label>
            <input asp-for="@Model.InputBook.AverageRating" class="form-control" />
            <span asp-validation-for="@Model.InputBook.AverageRating" class="text-danger"></span>
        </div>

        <button type="submit">Підтвердити</button>
    </form>

    <form method="post" asp-page-handler="Delete" onsubmit="return confirm('Ви впевнені, що хочете видалити пост?');">
        <input type="hidden" name="id" value="@Model.InputBook.Id" />
        <button type="submit" class="btn btn-danger">Видалити статтю</button>
    </form>
</div>